p
{
    font-size:12px;
}

img 
{
   vertical-align:top; 
}

#myList 
{
 overflow: auto;
}

#spriteTest
{
width:900px;
height:600px;
margin-left:auto;
margin-right:auto;
margin-top:60px;
padding:0px;
display:block;
} 

